<div id="header" >
	<div class="row">
		<div class="col-xs-5 col-xs-offset-7">
			<h1 class="pull-right"> ANDREW MCNUTT</h1>
			<h2 class="pull-right"> WEB DEVELOPER</h2>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col-xs-3 col-xs-offset-1 sidebar">
		<div id="scroll-spy-links" data-spy="affix" class=" main-sidebar col-xs-3">
			<ul class="front-list">
				<li><a href="#about"><h2>About</h2></a></li>
				<li><a href="#skills"><h2>Skills</h2></a></li>
				<li><a href="#portfolio"><h2>Portfolio</h2></a></li>
				<li><a href="#research"><h2>Research</h2></a></li>
				<li><a href="/resume.pdf"><h2>Resume</h2></a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-7 master-container">
		<div id="about">
			<h1> about</h1>
			<div class="row">
					<div class="col-xs-12">
						<div style="width:100px">
							<%= image_tag("self-photo-1.jpg", :alt => "Me in Utah") %>
						</div>
						<h4 > Hi! my name is Andrew McNutt and I am web developer in San Francisco. My background is in Physics, specifically in the field of alternative Classical Mechanics.  I am a full stack web developer, but I am more or less back-end/data-viz leaning. I feel greatly for the plight of the American desert. </h4>
					</div>
			</div>
		</div>
			<br>
			
		<div id="skills" class="row">
			
			<div class="col-xs-11"> 
				<h1>skills</h1>
					<ul class="technologies">
						<li class="tech-li">
							<div id="ruby">
								<%= image_tag("Ruby_logo.png") %>
							</div>
							Ruby 
						</li>
						<li class="tech-li">
							<div id="rails">
								<%= image_tag("Ruby_on_Rails_logo.svg") %>
							</div> 
							Rails
						</li>
						<li class="tech-li">
							<div id="js">
								<%= image_tag("JavaScript-logo.png") %>
							</div> 
							Javascript
						</li>
						<li class="tech-li">
							<div id="backbone">
								<%= image_tag("backbone.png") %>
							</div>
							Backbone.js
						</li>
						<li class="tech-li">
							<div id="bootstrap">
								<%= image_tag("Boostrap_logo.svg") %>
							</div>
							Bootstrap
						</li>
						<li class="tech-li">
							<div id="node">
								<%= image_tag("nodejs_logo.png") %>
							</div>
							Node.js
						</li>
						<li class="tech-li">
							<div id="processing">
								<%= image_tag("Processing_Logo_Clipped.svg") %>
							</div>
							Processing
						</li>
						<li class="tech-li">
							<div id="latex">
								<%= image_tag("LaTeX_logo.svg") %>
							</div>
							Latex
						</li>
						<li class="tech-li">
							<div id="pg">
								<%= image_tag("postgres.jpeg") %>
							</div>
							PostGRES
						</li>
					</ul>
			</div>
			<div class="col-xs-12">
				<h4> I am familiar with a variety of technologies and techniques, including the ones pictographically listed above. I am also quite familiar with Mathematica (as well as Grid Mathematica), Matlab, Lab View, D3, and git, among many others.  I also pretend to be good at <a href="http://mcnuttart.tumblr.com">art.</a></h4>
			</div>
		</div>
		
		<div id="portfolio">
<h1> portfolio</h1>
					<h4> For a comprehensive view of my coding projects, check out my <a href="https://github.com/mcnuttandrew/">github</a>, but here are some highlights:</h4>
					<ul class="portfolio-examples">
						<li> 
							<div class="row">
								<div class="col-xs-4 pic-side">
									<a href="http://tea-cup.org"><%= image_tag("tea-cup.png", :alt => "Tea Cup") %></a>
								</div>
								<div class="col-xs-7 inside">
									<h3><a href="http://tea-cup.org">Teacup</a> </h3><h5><a href="https://github.com/mcnuttandrew/Project-Teacup">(source)</a></h5>
									<h4> A microblogging platform for viewing the collective unconscious. Single page Backbone app based on
	RESTful practices. Features data visualizations including trending topics and user population.
	Seed data was generated using a variety of large scale data scrapes and data cleaning techniques.
	Technologies included <i>Rails API, Backbone.js, jQuery, Nokogiri, and D3.</i>  </h4>
								</div>
							</div>	
						</li>
						<br>
						<li> 
						
							<div class="row">
								<div class="col-xs-6 inside">
									<h3><a href="http://why-not-ipsum.herokuapp.com">Why Not Ipsum</a> </h3><h5><a href="https://github.com/mcnuttandrew/Why-Not-Zoidberg">(source)</a></h5>
									<h4> A Lorem Ipsum generator populated by Zoidberg quotes, built following RESTful design practices. Included a large series of data scrapes, which were necessarily followed by intensive data cleaning. Technologies included <i>Rails API, Backbone.js, and Nokogiri.</i></h4>
								</div>
								<div class="col-xs-4  pic-side">
									<a href="http://why-not-ipsum.herokuapp.com"><%= image_tag("zoidberg.png", :alt => "Why Not Ipsum???") %></a> 
									
								</div>
							</div>
						</li>
						<br>
						<li> 
							<div class="row">
								<div class="col-xs-4 pic-side">
									<%= image_tag("tea-cup.png", :alt => "Tea Cup") %>
								</div>
								<div class="col-xs-7 inside">
									<h3><a href="http://tea-cup.org">Asteroids</a> </h3><h5><a href="https://github.com/mcnuttandrew/Asteroids">(source)</h5>
									<h4>  A reimaging of the classic arcade game. Technologies included <i> Javascipt, HTML5 Canvas, and jQuery </i>   </h4>
								</div>
							</div>	
						</li>
						<br>
						<li> 
						
							<div class="row">
								<div class="col-xs-6 inside">
									<h3><a href="/nbody">N-Body Simulator</a> </h3><h5><a href="https://github.com/mcnuttandrew/N-Body-Simulator">(source)</a></h5>
									<h4>  A low N gravitional interaction simulator built in processing.   </h4>
								</div>
								<div class="col-xs-4  pic-side">
									<a href="/nbody"><%= image_tag("nbody.png", :alt => "N Body") %></a>
								</div>
							</div>
						</li>
						<br>
						<li> 
							<div class="row">
								<div class="col-xs-4 pic-side">
									<%= image_tag("active-record.png", :alt => "Tea Cup") %>
								</div>
								<div class="col-xs-7 inside">
									<h3>Slim Active Record</h3><h5><a href="https://github.com/mcnuttandrew/Active-Record-Lite">(source)</a></h5>
									<h4> An Object Relational Mapper that rebuilds much of the functionality of active record. INCLUDES FEATURES</h4>
								</div>
							</div>	
						</li>
						<br>
						<li> 
						
							<div class="row">
								<div class="col-xs-6 inside">
									<h3>Railsito </h3><h5><a href="https://github.com/mcnuttandrew/railsito">(source)</a></h5>
									<h4> A reconstruction of the web frame work using Ruby. Includes FEATURES.</h4>
								</div>
								<div class="col-xs-4  pic-side">
									<%= image_tag("rails.png", :alt => "N Body") %>
								</div>
							</div>
						</li>
					</ul>
				</div>
		<br>
	
		<div id="research">
				<h1> research</h1>
					<p>During my senior year at Reed I wrote my undergraduate thesis on an alternative representation of classical mechanics called Nonequivalent Lagrangian Mechanics. It was advised by Nelia Mann. You can read my thesis <a href="/thesis.pdf"> here.</a>
					</p>				
					<p>Throughout my undergraduate career I had a prevailing interest in the geometrically ambiguous shape, the N-Hedron. It is formed by taking an integer, N, number of points, placing them on the sphere and demanding that they be maximally far apart. This culminated in a independent project, in which I implemented three different algorithms for constructing these shapes. You can find out more about this project <a href="/nhedron.pdf"> here. </a> One of the major aspects of this project was dealing with a large (for Mathematica) amount of data which reached up into the millions of data points. 
					</p>
				
			
		</div>
	</div>
</div>
